/* MIX */
body{
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1{
  font-weight: 700;
}

h2{
  font-size: 50px;
}

.fa-star{
  font-size: 30px;
  margin: 20px 0;
}
.fa-star::before{
  content: '';
  display: inline-block;
  width: 15%;
  height: 4px;
  border-radius: 2px;
  line-height: 4px;
  vertical-align: middle;
  background-color: white;
}






.layover{
  width: 360px;
  height: 260px;
  background-color: rgba(26, 188, 156, 0.7);
  position: relative;
}


.box-portfolio:hover{

}

.p_top_80{
  padding-top: 80px;
}
.p_bottom_80{
  padding-bottom: 80px;
}

.wrapper_small{
  max-width: 800px;
  margin: auto;
}

.f_right{
  float: right;
}

.bg_blue{
  background-color: #1ABC9C;
}
.bg_green{
  background-color: green;
}
.bg_dark{
  background-color: #2C3E50;
}
.bg_dark2{
  background-color: #1A252F;
}

.img_circle{
  width: 200px;
  margin-top: 50px;
}

.white{
  color: white;
}

.box-portfolio{
  height: 300px;
}

.box_img{
  width: 100%;
  border-radius: 10px;
}


.pad{
  margin: 20px 0;
}

.btn2 {
  background-color: #1ABC9C;
  border-color: white;
  border-radius: 5px;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  margin: 50px 0;
}

.p_left{
  padding-left: 60px;
}
.p_right{
  padding-right: 60px;
}

.list_icon{
  list-style: none;
  margin-right: 30px;
}
.list_icon li{
  display: inline-block;
  font-size: 30px;
  margin: 0 10px;
}

.blue{
  color: #1ABC9C;
}
.dark{
  color: #2C3E50;
}

.p_top_20{
  padding: 20px 0;
}
.p_top{
  padding: 70px 0;
}


@media screen and (max-width: 768px){
  .ciao{
    padding: 0 100px;
  }

  .box-portfolio{
    max-width: 350px;
    max-height: 350px;
    margin: auto;
  }
}
