.f_right{
  float: right;
}

.bg_blue{
  background-color: blue;
}
.bg_green{
  background-color: green;
}

.tx_center{
  text-align: center;
}

.img_circle{
  width: 200px;
  margin-top: 50px;
}

.white{
  color: white;
}

.box_g{
  width: 300px;
  height: 300px;
  background-color: green;
  margin: auto;
}

.pad{
  padding: 20px;
}

.btn {
  background-color: blue;
  border-color: white;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  margin: 50px 0;
}

.m_50{
  margin: 50px 0;
}

.p_left{
  padding-left: 60px;
}
.p_right{
  padding-right: 60px;
}

.list_icon{
  list-style: none;
  margin-right: 30px;
}
.list_icon li{
  display: inline-block;
  font-size: 30px;
  margin: 0 10px;
}

.red{
  color: red;
}

.p_top{
  padding: 50px 0;
}

@media screen and (max-width: 768px){
  .ciao{
    padding: 0 100px;;
  }
}
